---
import Layout from "../layouts/Layout.astro";
import HeroImage from "../components/HeroImage.astro";
import SectionImage from "../components/SectionImage.astro";
import TopNav from "../components/TopNav.astro";
---

<Layout title="PAMALAM">
  <TopNav shouldFade={true} />

  <main class="bg-[#fbf5ee]">
    <HeroImage src="/images/hero.jpg" />
    <div
      class="flex flex-col space-y-2 items-center px-6 mb-10 -mt-10 relative"
    >
      <h1
        class="uppercase text-5xl font-playfair font-light text-center text-dark-brown"
      >
        Ignite your senses.
      </h1>
      <h3 class="font-medium text-center text-dark-brown">
        Luxury home fragrance, natural & handcrafted in Ireland.
      </h3>
    </div>
    <div class="flex flex-col">
      <SectionImage
        src="/images/sections/candle-section.jpg"
        title="candles"
        target="/candles"
      />
      <SectionImage
        src="/images/sections/diffuser-section.jpg"
        title="diffusers"
        target="/diffusers"
      />
    </div>
  </main>
</Layout>
