---
interface Props {
  shouldFade?: boolean;
}

let { shouldFade = false } = Astro.props;
---

<nav
  class="fixed z-10 top-0 transition-colors duration-500 w-full bg-opacity-80 backdrop-blur-0"
  id="topNav"
  data-should-fade={shouldFade}
>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="h-16 flex items-center">
      <a
        class="font-medium text-xl text-yellow-500 text-center sm:text-left w-full sm:w-auto hover:underline"
        id="navTitle"
        href="/"
      >
        PAMALAM
      </a>
    </div>
  </div>
</nav>

<script>
  let nav = document.getElementById("topNav")!;
  let title = document.getElementById("navTitle")!;
  let shouldFade = nav.hasAttribute("data-should-fade");

  function updateNav() {
    let scrollPosition = window.scrollY;

    if (scrollPosition > 0 || shouldFade == false) {
      nav.classList.add("bg-white");
      nav.classList.remove("backdrop-blur-0");
      nav.classList.add("backdrop-blur-md");
    } else {
      nav.classList.remove("bg-white");
      nav.classList.remove("backdrop-blur-md");
      nav.classList.add("backdrop-blur-0");
    }
  }

  window.addEventListener("scroll", updateNav);
  updateNav(); // Run once on load
</script>
