---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!-- PAMALAM -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Pamalam – Handmade in Ireland" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Aboreto&family=Outfit:wght@100;200;300;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Aboreto&family=Outfit:wght@100;200;300;600;700&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js"
    ></script>
    <script
      src="https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js"
    ></script>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-141344238-1"></script>

    <!-- Zoho SalesIQ Widget -->
    <script is:inline>
      window.$zoho = window.$zoho || {};
      $zoho.salesiq = $zoho.salesiq || {
        ready: function () {
          // Hide the chat button on initial load
          $zoho.salesiq.floatbutton.visible("hide");
        },
      };
    </script>
    <script
      id="zsiqscript"
      src="https://salesiq.zohopublic.eu/widget?wc=siq450d81f2418f16f936d79c791ab473f170911abf2e1bcd652588a1fe8036bd56"
      defer></script>

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-gray-100">
    <slot />

    <style is:global>
      .shopify-buy__btn {
        width: 100% !important;
        height: 100% !important;
        padding: 1rem !important;
      }

      .shopify-buy__option-select__select {
        pointer-events: all;
      }
    </style>
  </body>

  <script is:inline>
    // Show Zoho chat button on scroll
    document.addEventListener("scroll", () => {
      if (!window.showingZohoChat) {
        window.showingZohoChat = true;
        setTimeout(function () {
          if (window.$zoho && $zoho.salesiq && $zoho.salesiq.floatbutton) {
            $zoho.salesiq.floatbutton.visible("show");
          }
        }, 500);
      }
    });

    document.addEventListener("DOMContentLoaded", function () {
      document.querySelectorAll(".details__thumbnail").forEach((thumbnail) => {
        thumbnail.addEventListener("click", (e) => {
          document.querySelector(".details__main-image").style.backgroundImage =
            e.target.style.backgroundImage;
        });
      });
      if (document.querySelector(".swiper-container")) {
        new Swiper(".swiper-container", {
          direction: "horizontal",
          loop: true,
          pagination: {
            el: ".swiper-pagination",
          },
        });
      }

      function loadScript() {
        console.log("Script should be here");
      }

      function ShopifyBuyInit() {
        let client = ShopifyBuy.buildClient({
          domain: "pamalamstudio.myshopify.com",
          storefrontAccessToken: "9dd1ea25a2614fb14cd14f48543d4846",
        });

        console.log("Created shopify client");

        let shopifyUI = ShopifyBuy.UI.init(client);

        let buyButtons = Array.from(
          document.querySelectorAll(".order-now-button")
        );
        if (buyButtons) {
          buyButtons.forEach((buyButton) => {
            console.log(
              "Attempting to create shopify component for ",
              buyButton.getAttribute("data-shopify-id")
            );

            shopifyUI.createComponent("product", {
              id: buyButton.getAttribute("data-shopify-id"),
              moneyFormat: "%E2%82%AC%7B%7Bamount_with_comma_separator%7D%7D",
              node: buyButton,

              options: {
                product: {
                  variantId: "all",
                  iframe: false,
                  contents: {
                    img: false,
                    imgWithCarousel: false,
                    title: false,
                    variantTitle: false,
                    price: false,
                    description: false,
                    buttonWithQuantity: false,
                    quantity: false,
                  },
                },
                cart: {
                  contents: {
                    button: true,
                  },
                  styles: {
                    button: {
                      "background-color": "#f1c40f",
                      ":hover": {
                        "background-color": "#d9b00e",
                      },
                      "border-radius": "2px",
                      ":focus": {
                        "background-color": "#d9b00e",
                      },
                    },
                    footer: {
                      "background-color": "#ffffff",
                    },
                  },
                },
                toggle: {
                  styles: {
                    toggle: {
                      "background-color": "#f1c40f",
                      ":hover": {
                        "background-color": "#d9b00e",
                      },
                      ":focus": {
                        "background-color": "#d9b00e",
                      },
                    },
                    count: {
                      "font-size": "16px",
                    },
                  },
                },
                productSet: {
                  styles: {
                    products: {
                      "@media (min-width: 601px)": {
                        "margin-left": "-20px",
                      },
                    },
                  },
                },
              },
            });
          });
        }
      }

      if (window.ShopifyBuy) {
        if (window.ShopifyBuy.UI) {
          ShopifyBuyInit();
        } else {
          loadScript();
        }
      } else {
        loadScript();
      }
    });

    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-141344238-1");
  </script>
</html>
